.slider {
  height: 500px;
  position: relative;
}

[class*='fa-angle'] {
  cursor: pointer;
}

.slider .slider-dots {
  padding: 5px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;

  transform: translateX(-50%);
}

.slider-dots .dot {
  margin: 0 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.slider-dots .dot.active {
  background-color: forestgreen;
  height: 20px;
  width: 35px;
  border-radius: 100%;
}
